:root{
    --background-color: #1c1c1c;
    --font: #515151;
    --button-color: #2AD386;
    --link: #0060FF;
    --visited-link: #7e0280;
    --error: #FF0000;
    --card: #515151;
}

body{
    background-color: var(--background-color);
}

/* HEADER */

header{
    background-color: var(--background-color);
}
.location-button{
    background-color: var(--card);
    color: white;
    width: 88px;
    height: 44px;
    border-radius: 8px;
    border: 0;
}
.company .line{
    margin-top: -30px;
    margin-bottom: 30px;
}
.location-dot{
    color: var(--button-color)!important;
    font-size: 30px;
    margin-left: 30px;
}
.search-bar{
    background-color: transparent;
    width: 650px;
    height: 45px;
    border: #2AD386 2px solid;
    border-radius: 20px;
    margin-left: 40px;
    color: white;
    padding-left: 10px;
}
.search-bar:placeholder-shown{
    color: #999999;
    padding-left: 10px;
}
.search-bar::content{
    padding-left: 20px;
}
.search-icon{
    font-size: 30px;
    color: var(--button-color);
    position: absolute;
    transform: translate(-50px,7px);
}
.language-selector{
    background-color: var(--card);
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.lock{
    background-color: var(--card);
    font-size: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.language-selector img , .lock i{
    margin-left: 10px;
}
.sign-up-btn{
    height: 44px;
    width: 108px;
    background-color: var(--button-color);
    border: 0;
    border-radius: 8px;
    transform: translateY(4px);
    margin-left: 50px;
}

/* fresh reccomendations */
 
.fresh-reccomendations{
    padding: 100px 0;
}